node_modules
dist

# Istanbul code coverage files and folders
.nyc_output
coverage

# ctags files
tags

# Local Netlify folder
.netlify

# Env vars should be set in Netlify,
# so let's make sure we don't accidentally commit them.
.env

# VSCode and other editor-specific files
tempCodeRunner*

.idea

### Vim ###
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
Session.vim
.netrwhist
*~
.vimrc
.vimlocal
